*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.underline{
    border-bottom:#f64c72 solid 0.3rem  ;
}
body {
    background-color: #332c38;   
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

#home > nav {
    width: 100%;
    height:10vh;
    border: 4px solid white;
    display: flex;
    flex: 1;
   
}
#home > nav > ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
   
  }
  #home > nav > ul >li {
    flex: 1;
    border: 4px solid pink;
    text-align: center;
  }

  #home > nav > ul >li >a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: color 0.75s;
  }
  
  #home > nav > ul > li > a:hover {
    color: #f64c72;
  }
  #home > nav > ul > li > a:active {
    color: #f64c72;
  }
 
  #home > div {
    flex: 6;
    border: 4px solid white;
    display: flex;
   
}


#home > div > .left-home {
    flex: 6;
    border: 4px solid red;
    display: flex;
    flex-direction: column;
    
}



#home > div > .left-home > div {
 margin-left: 7vw;
 margin-right: 7vw;
} 
 

#home > div > .left-home > .intro{
    flex: 3;
    border: 4px solid green;
    display: flex;  
    flex-direction: column;  
}

#home > div > .left-home > .intro > .name {
    display: flex;
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2rem;
    align-items: flex-end;
    flex: 6;
    border:4px solid pink;
}

#home > div > .left-home > .intro > .job{
    display: flex;
    font-size: 0.9rem;
    color: #f64c72;
    letter-spacing: 0.3rem;
    align-items: flex-start;
    flex: 1;
    border:4px solid orange;
    
}

#home > div > .left-home > div.intro-2 {
    flex:1;
    border: 4px solid blue;
    display: flex; 
    /* width: 100%; */
    position: relative;
}

.button {
    flex: 1;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    background-color: #332c38;;
    text-align: center;
    border-radius: 0.5rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: color 0.75s;
}
.button:hover {
    
    color: #332c38;  
    background-color: white;
    
}



#home > div > .left-home > .icon {
    flex: 2; 
    border: 4px solid yellow;
}

#home > div > .left-home > .icon > div {
    bottom: 0;
    letter-spacing: 1.3rem;
}

#home > div > .left-home > .icon > div > a{
    transition: color 0.75s;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

#home > div > .left-home > .icon > div > a:link{
    color: white;
}
#home > div > .left-home > .icon > div > a:visited{
    color: white;
}
#home > div > .left-home > .icon > div > a:hover{
    color: #f64c72;
} 
    

#home > div > .right-home {
    flex: 4;
    border: 4px solid green;
    display: flex;
    align-items: center;

}
#home > div > .right-home > div {
    border: 4px solid white;
    width: 350px;
    height: 350px;
    border-radius: 1.5rem;
    
}
#home > div > .right-home > div > .avatar {
    border: 4px solid pink;
    width: 350px;
    height: 350px;
    border-radius: 1.5rem;
    margin-top: -2rem;
    margin-left: -2rem;
    
}

@media screen and (max-width:800px) {
    
    #home > div {
        flex-direction: column;
    }
    
    #home > nav {
       
        height:4vh;
}

    #home > div > .left-home {
        height: 40vh;
    }

    #home > div > .right-home {
        height: 60vh;
        justify-content: center;
    }
    
    
    #home > div > .right-home > div > .avatar {
    
        /* width: 100%; */
        /* height:50% */
        margin-top: 0rem;
        margin-left: 0rem;
        
    } 
} 

#about {
    height: 80vh;
    background-color: white;
    display: flex;
}

#about > div {
    border: 4px solid black;
    display: flex;
    flex-direction: row;
    flex: 1;
}
#about > div > .left-about {
    border: 4px solid black;
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#about > div > .left-about > div {
    border: 4px solid black;
    width: 28vw;
    height: 53vh;
    border-radius: 1.5rem;
}

#about > div > .left-about > div > .avatar {
    border: 4px solid pink;
    width: 28vw;
    height: 53vh;
    border-radius: 1.5rem;
    margin-top: -2rem;
    margin-left: 2rem;
    
}

#about > div > .right-about {
    border: 4px solid black;
    flex: 5;
    display: flex;
    flex-direction: column;
}
#about > div > .right-about >.about {
    border: 4px solid black;
    flex:1;
    /* font-size: 4rem;
    font-weight: bold; */
    margin-left: 5vw;
  
    
}
.title {
    font-size: 3rem;
    font-weight: bold;
}
#about > div > .right-about > .text-abt {
    border: 4px solid black;
    flex:2;
    font-size: 1.2rem;
    /* font-weight: bold; */
    margin-left: 5vw;
    line-height: 1.7rem;
    margin-right: 3vw;
}
/* #about > div > .right-about > .text-abt >  */
p {
    padding-bottom: 1rem;
}
#about > div > .right-about > .btn-container {
    border: 4px solid black;
    flex:1;
    /* font-size: 1.2rem; */
    /* font-weight: bold; */
    margin-left: 5vw;
    /* line-height: 1.7rem; */
    margin-top: 1.5vh;
}

#projects {
    height: 220vh;
    /* background-color: #332c38; */
    display: flex;
    flex-direction: column;
}

#projects > .prj-ttl {
    flex: 1;
    text-align: center;
    border: 4px solid white;
    justify-content: center;

    
}
#projects > .prj-container {
    flex: 12;
    border: 4px solid white;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;  
    transition: transform 1s;
}



#projects > .prj-container > div {
   
    border: 4px solid white;
    width: 23vw;
    height: 80vh;
    margin: 5vw 3vw ;
    border-radius: 1.5rem;   
    display: flex;
    flex-direction: column;
   
}

#projects > .prj-container > :hover{
    transform: scale(1.05);
}
#projects > .prj-container > div > img { 
    border: 4px solid pink;
    flex:3;
    width: 100%;
    height: 30vh; 
    z-index: -1;
    border-radius: 1.5rem 1.5rem 0 0 ;  
    /* padding: 0;
    margin: 0;  */
}

#projects > .prj-container > div >  .prj-desc { 
    border: 4px solid rgb(124, 60, 71);
    flex:4;
    display: flex;
    background-color: white;
    flex-direction: column;
}

#projects > .prj-container > div > .prj-desc >.prj-header { 
    border: 4px solid pink;
    flex:1;
}
#projects .prj-header > .gradient {
    height: 0.5vh;
    background-image:linear-gradient(to right, rgb(140, 230, 140), rgb(123, 225, 233));
    }


#projects .prj-p1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
#projects .prj-p2 {
    font-size: 0.8rem;
    text-align: center;
}

#projects .prj-content {
    font-size: 1.rem;
    flex: 2;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#projects .prj-content > div {
    margin: 0 2vw 4vh;
}
#projects .prj-link{
    display: flex;
    border: 4px solid pink;
    flex: 1;
    background-color: white;
    flex-direction: row;
    
}

#projects .prj-link > a{
    text-decoration: none;
    color: black;
    display: block;
    flex: 1;
    height: 100%;
    border: 4px solid pink;
    transition: 0.5s;
} 
#projects .prj-link > a:hover {
    border-radius: 1.5rem;
   
    transform: scale(1.2);
    background-image:linear-gradient(to right, rgb(140, 230, 140), rgb(123, 225, 233));
    

}
/* #projects .prj-link > a > div{
    border: 4px solid pink;
    /* flex: 1; */
#projects .prj-link >a > div >div{
    border: 4px solid pink;
    text-align: center;
    margin-top: 1.5vh;

    
}



#skills {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
   
}
#skills >.skill-ttl {
    flex:1;
    border: 4px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills >.skill-ttl > div {
    height:10vh;
    border: 4px solid black;
    text-align: center;
   
}

#skills >.skill-container {
    flex:2;
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}
#skills >.skill-container > .skill-lang{
    border: 4px solid black;
    display: flex;
    width:25vw;
    height: 50vh;
    border-radius: 1.5rem;
    flex-direction: column;
   
}
#skills >.skill-container > .skill-other{
    width:30vw;
    height: 50vh;;
    border: 4px solid black;
    display: flex;
    border-radius: 1.5rem;
    flex-direction: column;
}
#skills >.skill-container .skill-header{
    flex: 1;
    border: 4px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

#skills >.skill-container .skill-img{
    flex: 1;
    border: 4px solid black;
    justify-content: center;
    align-items:  center;
    display: flex;
}
 #skills >.skill-container .skill-img >img{
    border: 4px solid black;
    margin: 5vh;
    width: 1-w;
    height:9vh;
    
} 
#skills >.skill-container .skill-img >div >img{
    
    width: 7vw;
    height:10vh;
   
}

#skills >.skill-container .skill-img-desc{
    flex: 1;
    border: 4px solid black;
    display: flex;
    flex-direction: row;
}
#skills >.skill-container .skill-img-desc >div{
    flex: 1;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}



#timeline {
    height: 250vh;
    /* background-color: #332c38; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
#timeline >div {
   
}


 #timeline >.time-ttl {
     border: 4px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
     flex: 1;
}
#timeline >.time-container {
    flex: 6; 
    border: 4px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
#timeline >.time-container > .time-cnt {
    border: 4px solid pink;
    flex: 1;
    width: 50vw;
    /* position: relative; */
}
#timeline .odd {
    display: flex;
    flex-direction: column;
   
    
}
#timeline .odd > .time-txt {
    display: flex;
    align-items: flex-end;
    border-right:2px dashed red;
    border: 4px solid pink;
    /* border-radius: 0 0 1.2rem 0; */
    position: relative;
    flex: 2;
    margin-left: 2vw;
}
#timeline .odd > .time-txt > p {
    color: white;
    font-size: 1.2rem;  
}
#timeline .odd > .time-txt > p > .time-header {
    font-weight: bold;
    font-size: 1.5rem;  
}

#timeline .odd > .time-txt >  .number {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border:2px solid pink;
    width: 3vw;
    height: 6vh;
    justify-content: center;
    background-color: pink;
    position: absolute;
    right:-4%;
    bottom: 20%;
}
#timeline .odd > .time-txt >  .number > p {
   margin-bottom: -2.5vh;
}
#timeline .odd > .border-right {
    /* display: flex; */
    align-items: center;
    /* border:2px solid red; */
    position: relative;
    flex: 1;
}
#timeline .odd > .border-right >.r-curve {
    
    border-bottom:2px dashed red;
    border-right: 2px dashed red;
    position: absolute;
    flex: 1;
    width: 50%;
    height: 50%;
    right:0;
    border-radius: 0 0 1.2rem 0;
}
#timeline .odd > .border-right >.l-curve {
    
    border-top:2px dashed red;
    border-left: 2px dashed red;
    position: absolute;
    flex: 1;
    width: 50%;
    height: 50%;
    left: 0;
    bottom: 3%;
    border-radius: 1.2rem 0 0 0;
}
/* #timeline .odd >   .circle-right {
    margin-right: -18px;
  }
   */


#blog {
    height: 200vh;
    background-color: white;
}
#footer {
    height: 30vh;
    /* background-color: #332c38; */
}
